* {
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #242424;
    line-height: 1.3;
}

header {
    padding: 14px;
    background-color: #262628;    
}

.logo {
    font-size: 28px;
    font-weight: 600;
    color: #ffffff;
}

main {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section {
    margin: 50px;
    text-align: center;
}

h1 {
    font-size: 36px ;
}

